.nav-items {
  font-size: 1.2rem;
  margin-top: 15px;
}
header {
  border-color: black;
  background-color: #b68d5f;
  min-height: 80px;
  width: 100%;
  top: 0;
  z-index: 50;
}
.link-btns {
  transition: 0.3s;
}

.link-btns:hover {
  color: rgba(0, 255, 0, 0.5);
  transform: scale(110%) rotate(-2deg);
}
.nav-btns {
  background-color: #b68d5f;
  top: 80px;
}
.btn-nav {
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  width: 90%;
  margin: 0 auto;
}
.logo {
  max-height: 60px;
  min-width: 60px;
  object-fit: contain;
  margin-right: 10px;
  animation: glowPulse 2s ease-in-out infinite;
  filter: drop-shadow(0 0 5px rgba(0, 255, 0, 0.5));
}

@keyframes glowPulse {
  0%,
  100% {
    filter: drop-shadow(0 10 25px rgba(0, 255, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(0, 255, 0, 0.8));
  }
}

.business-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  header {
    min-height: 70px;
  }

  .logo {
    max-height: 50px;
    min-width: 50px;
  }

  .business-title h2 {
    font-size: 1rem;
  }
}
