.carousel-items {
  margin-top: 100px;
}
.-left-12 {
  left: 25%;
  transform: translateX(-50%);
}

.-right-12 {
  right: 25%;
  transform: translateX(50%);
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  gap: 2rem;
  padding: 0 2rem;
}

.text-content {
  display: flex;
  /* align-items: flex-start; */
  width: 50%;
  /* padding: 10px; */
  font-size: larger;
  /* margin-left: 10.1rem; */
  flex-direction: column;
}

.service-contact {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
}


/* Laptops and larger screens */
/* @media screen and (min-width: 1281px) and (max-width: 1366px),
  and (min-width: 1367px) and (max-width: 1920px),
  and (min-width: 1921px) and (max-width: 2560px),
  / and (min-width: 2561px) {
  .-left-12,
  .-right-12 {
    left: clamp(20%, calc(20% + (viewport-width - 1281px) * 0.002), 26%);
    right: clamp(20%, calc(20% + (viewport-width - 1281px) * 0.002), 26%);
  }
} */
