#root {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #b68d5f; /* Base wood color */
  background-image: repeating-linear-gradient(
    0deg,
    #6b6b6b,
    /* Darker wood shade for lines */ #32526b 7px,
    /* Base wood color */ #5f8fb6 7px,
    /* Lighter wood highlight */ #5f8fb6 58px
  );
  display: flex;
  flex-direction: column;

  color: #ffffff; /* Changed to white for better contrast */
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 1366px) {
  #root {
    height: 100vh;
    padding: 0 1rem;
    font-size: 14px;
    zoom: 0.9;
  }
}

@media screen and (max-width: 1280px) {
  #root {
    zoom: 0.85;
    padding: 0 0.75rem;
  }
}
p {
  color: rgb(245, 242, 242);
}
